name: Build apk file

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup jdk
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup gradlew
      run: chmod +x ./gradlew

    - name: Setup google services
      run: echo "${{secrets.GOOGLE_SERVICES_JSON}}" | base64 -d > app/google-services.json

    - name: Build
      run: ./gradlew build --refresh-dependencies && ./gradlew assembleDebug

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: app-debug
        path: app/build/outputs/apk/debug/app-debug.apk
